@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fredoka:wght@300..700&display=swap');


:root{

    --dark-winter: #0b2e33;
    --light-blue: rgb(199,235,255);
    --border-color: rgba(255, 0, 0, 0);
}

*{
    font-family: 'Cal Sans';
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1{
    color: #0b2e33;
    font-size: 15vw;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

body{
    background-color: #73e6cb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;


    border: 2px solid var(--border-color);
}

.control-container{
    color: #0b2e33;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

p{
    font-size: 10vw;
}

button{
    color: #0b2e33;
    background-color: #FFF5B8;
    border-radius: 15px;
    padding: 2%;
    height: auto;
    min-width: 50%;
    max-width: 80%;
    overflow-x: hidden;
    font-size: 10vw;
}

button:active{
    filter: brightness(75%);
}

#lottie-birds-animation{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 20vh;
    width: 100%;
    border: none;
    z-index: 999;
}



h2{
    font-size: 7vw;
}

.additional-counts-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: auto;
    margin-top: 5vh;
    border: 2px solid var(--border-color);
}

.counts{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
}

.nums{
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 5.5vw;
}


.frequency-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    color: #0b2e33;
    background-color: #FFF5B8;
    border-radius: 15px;
    height: auto;
    width: auto;
    min-width: 0%;
    overflow-x: hidden;
    font-size: 5.5vw;
}

.backdrop{
    background-color: rgba(0,0,0,0.50);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transition: top 0.5s ease-in-out;


}


.reset-selection-modal{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 75%;
    height: auto;
    max-height: 80%;
    padding: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid var(--border-color);
    background-color: var(--dark-winter);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;

    transition: top 0.5s ease-in-out;

}

.hidden{
    top: -100%;
}

.button-close-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    height: auto;
    border: 2px solid var(--border-color);
    margin-bottom: 2vh;
}
.button-close{
    height: 5vh;
    background-image: url('close-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    margin-left: 30vw;
    margin-right: 30vw;
    padding-left: 20%;
    padding-right: 20%;
    height: auto;
    width: 40%;
    border: 3px solid rgb(0,0,0);
    background-color: var(--light-blue);
    border-radius: 20px;


}

.reset-value{
    font-size: 8vw;
}