@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fredoka:wght@300..700&display=swap');


:root{

    --dark-winter: #0b2e33;

    --border-color: rgba(255, 0, 0, 0);


}

*{
    font-family: 'Cal Sans';
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1{
    color: #0b2e33;
    font-size: 15vw;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

body{
    background-color: #73e6cb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;


    border: 2px solid var(--border-color);
}

.control-container{
    color: #0b2e33;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

p{
    font-size: 10vw;
}

button{
    color: #0b2e33;
    background-color: #FFF5B8;
    border-radius: 15px;
    padding: 2%;
    height: auto;
    min-width: 50%;
    max-width: 80%;
    overflow-x: hidden;
    font-size: 10vw;
}

button:active{
    filter: brightness(75%);
}

#lottie-birds-animation{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 20vh;
    width: 100%;
    border: none;
    z-index: 999;
}



h2{
    font-size: 7vw;
}

.additional-counts-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: auto;
    margin-top: 5vh;
    border: 2px solid var(--border-color);
}

.counts{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
}

.nums{
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 5.5vw;
}


.frequency-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    color: #0b2e33;
    background-color: #FFF5B8;
    border-radius: 15px;
    height: auto;
    width: auto;
    min-width: 0%;
    overflow-x: hidden;
    font-size: 5.5vw;

}