@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Fredoka:wght@300..700&display=swap');


:root{

    --dark-winter: #0b2e33;


}

*{
    font-family: 'Cal Sans';
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1{
    color: #0b2e33;
    font-size: 15vw;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

body{
    background-color: #73e6cb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.control-container{
    color: #0b2e33;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
}

p{
    font-size: 10vw;
}

button{
    color: #0b2e33;

    background-color: #FFF5B8;
    border-radius: 15px;
    padding: 2%;
    height: auto;
    min-width: 50%;
    max-width: 80%;
    overflow-x: hidden;
    font-size: 10vw;
}

button:active{
    filter: brightness(75%);
}

#lottie-birds-animation{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 20vh;
    width: 100%;
    border: none;
    z-index: 999;
}